LIS_SKINS_API_KEY=3e051bac-dd07-418c-af2c-f6b08083fadb
LIS_SKINS_WS_CON_URL=wss://ws.lis-skins.com/connection/websocket
LIS_SKINS_WS_TOKEN_URL=https://api.lis-skins.com/v1/user/get-ws-token
LIS_SKINS_DUMP_URL=https://lis-skins.com/market_export_json/api_csgo_full.json
LIS_SKINS_CURRENCY=USD
LIS_SKINS_REQUEST_TIMEOUT=5m
LIS_SKINS_DUMP_BATCH_SIZE=2000
LIS_SKINS_DUMP_LIMIT=10000

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=raw.market.prices.lisskins
KAFKA_CLIENT_ID=lisskins-collector
KAFKA_ACKS=all
KAFKA_COMPRESSION=snappy
KAFKA_LINGER=100ms
KAFKA_BATCH_BYTES=1048576
KAFKA_RECORD_RETRIES=3
